{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:json/recommended"
  ],
  settings: {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "array-bracket-spacing": [ "warn", "never", { "objectsInArrays": false } ],
    "arrow-parens": "warn",
    "block-scoped-var": "warn",
    "block-spacing": "warn",
    "brace-style": "warn",
    "comma-dangle": [ "warn", "always-multiline" ],
    "comma-spacing": "warn",
    "comma-style": "warn",
    "curly": "error",
    "dot-notation": "error",
    "eqeqeq": [ "error", "smart" ],
    "func-call-spacing": "warn",
    "indent": [ "warn", 2, { "SwitchCase": 1 } ],
    "jsx-quotes": [ "warn", "prefer-single" ],
    "key-spacing": "warn",
    "keyword-spacing": "warn",
    "linebreak-style": [ "error", "unix" ],
    "max-len": [ "warn", { "code": 120 } ],
    "multiline-ternary": [ "warn", "never" ],
    "no-console": "warn",
    "no-case-declarations": "warn",
    "no-else-return": "warn",
    "no-eval": "error",
    "no-extra-bind": "warn",
    "no-implicit-coercion": "warn",
    "no-implied-eval": "error",
    "no-irregular-whitespace": "warn",
    "no-multi-spaces": "warn",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-sequences": "warn",
    "no-trailing-spaces": "warn",
    "no-unexpected-multiline": "warn",
    "no-useless-return": "warn",
    "no-unused-vars": [ "warn", { "vars": "all", "args": "all"}],
    "one-var-declaration-per-line": "warn",
    "one-var": [ "error", "never" ],
    "operator-linebreak": "warn",
    "quote-props": [ "warn", "as-needed" ],
    "quotes": [ "error", "single", { "avoidEscape": true } ],
    "react/jsx-indent": [ "error", 2 ],
    "react/jsx-key": "error",
    "react/jsx-no-target-blank": "error",
    "react/jsx-pascal-case": "warn",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-wrap-multilines": "warn",
    "react/no-array-index-key": "warn",
    "react/no-danger": "error",
    "react/no-deprecated": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "warn",
    "react/no-direct-mutation-state": "error",
    "react/no-find-dom-node": "warn",
    "react/no-string-refs": "error",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "error",
    "react/sort-comp": "warn",
    "require-await": "error",
    "semi-spacing": "warn",
    "semi": [ "error", "always" ],
    "space-before-blocks": "warn",
    "space-in-parens": "warn",
    "space-infix-ops": "warn",
    "strict": [ "error", "never" ]
  },
  "plugins": [
    "react"
  ]
}
