.page {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  background: var(--bg-white);
  color: var(--text-black);
}

.header {
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }
}

.first {
  position: relative;
  flex: 1 50%;
}

.second {
  position: relative;
  flex: 1 50%;
  display: flex;
  flex-direction: column;
}

.thing {
  height: 100%;
  position: relative;
  background: red;
}

.footer {
  border: var(--border);
}

.version {
  padding-right: var(--margin-2);
  background: var(--bg-gray);
  color: var(--text-gray);
  font-size: var(--size-version);
  text-align: right;
}

.resultsPage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  background: #20202080;
}

.results {
  height: 100%;
  padding: 16px;
  background: white;
}

.link {
  color: var(--text-blue);
  text-decoration: underline;
  margin-bottom: 16px;
}

.problems {
  display: flex;
  flex-wrap: wrap;
}

.problem {
  margin: 8px 16px;
  white-space: pre;
  text-align: right;
  font-size: var(--size-mini-problem);
  font-size: 20px;
}

.line {
  border-bottom: 2px solid currentColor;
}

.answer {
  margin-top: 4px;
}

.incorrect {
  color: var(--text-red);
}
