.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: var(--size-number-pad);
}

.button {
  padding: var(--margin-4);
  border: var(--border);
}

.button:disabled {
  background: var(--bg-gray);
  color: var(--text-gray);
}

.start {
  background: var(--bg-blue);
}

.stop {
  background: var(--bg-blue);
}
