.main {
  height: 94px;
  background: var(--bg-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: var(--size-number-pad);
}

.button {
  flex-grow: 1;
  border: var(--border);
}

.button:disabled {
  background: var(--bg-gray);
  color: var(--text-gray);
}

.start {
  background: var(--bg-green);
}

.stop {
  background: var(--bg-red);
}
