.main {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.game {
  height: 100%;
  font-size: var(--size-time);
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 16px;
  padding-left: 32px;
}

.left {
  padding-top: 4px;
  color: var(--text-gray);
}

.questions {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 16px;
  padding-right: 32px;
}

.problem {
  font-size: var(--size-problem);
  text-align: right;
  display: inline-block;
}

.correct {
  color: var(--text-green);
}

.incorrect {
  color: var(--text-red);
}

.line {
  border-bottom: 5px solid currentColor;
}

.answer {
  margin-top: 8px;
  white-space: pre;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px;
  background: white;
  font-size: var(--size-message);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre;
}

.link {
  color: var(--text-blue);
  text-decoration: underline;
}
