.main {
  height: 100px;
  background: var(--bg-blue);
  display: flex;
  justify-content: stretch;
  font-size: var(--size-number-pad);
}

.button {
  flex-grow: 1;
  border: var(--border);
}

.button:disabled {
  background: var(--bg-gray);
  color: var(--text-gray);
}

.start {
  background: var(--bg-green);
}

.quit{
  background: var(--bg-red);
}
