button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
