.main {
  flex-grow: 1;
  background: var(--bg-dark-gray);
  color: var(--text-white);
  font-size: var(--size-number-pad);
  display: flex;
  flex-wrap: wrap;
}

.button {
  flex: 1 33.33%;
  border: var(--border);
}

@media (orientation: portrait) {
  .button {
    flex: 1 25.0%;
  }
}

.clear {
  background: white;
  color: var(--text-black);
}

.ok {
  background: var(--bg-blue);
  color: var(--text-black);
}
