.main {
  height: 100%;
  background: var(--bg-dark-gray);
  color: var(--text-white);
  font-size: var(--size-number-pad);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  border: var(--border);
}
