:root {
  --bg-gray: #c8c8c8;
  --bg-dark-gray: #505050;
  --bg-red: #d88880;
  --bg-green: #80d888;
  --bg-blue: #80a8d8;
  --text-white: #e8e8e8;
  --text-gray: #686868;
  --text-black: #181818;
  --text-red: #df0000;
  --text-green: #00df00;
  --border: 1px solid white;
  --size-time: 32px;
  --size-title: 24px;
  --size-problem: 76px;
  --size-message: 24px;
  --size-number-pad: 34px;
  --size-version: 12px;
  --height-button: 3em;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-black);
  font-family: "Helvetica", sans-serif;
}
