:root {
  --bg-white: #ffffff;
  --bg-gray: #b8b8b8;
  --bg-dark-gray: #505050;
  --bg-blue: #80a8d8;
  --text-white: #e8e8e8;
  --text-gray: #505050;
  --text-black: #080808;
  --text-red: #df0000;
  --text-green: #00df00;
  --text-blue: #0000df;
  --border: 1px solid white;
  --size-problem: 3rem;
  --size-number-pad: 1rem;
  --size-time: 1rem;
  --size-message: 1rem;
  --size-title: 1rem;
  --size-mini-problem: 1rem;
  --size-version: 1rem;
  --margin-2: 0.5rem;
  --margin-3: 1.0rem;
  --margin-4: 1.5rem;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
